<ion-header  [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div>
        <img class="headerlogo" src="../../assets/logo.png">
        <ion-icon size="large" class="icon" name="person-outline"></ion-icon>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar  spellcheck="true" searchIcon="search-circle-outline" mode="ios" placeholder="Searchbar not working yet"></ion-searchbar>
  <ion-list class="ion-padding">
    <div id="container" *ngIf="setProfile ">
    <ion-item [routerLink]="['{{data.login}}']"  style="width: 100%; margin: 2rem 0 2rem 0 ;" detail="true" *ngFor="let data of getdata" >
      
      <img class="image"  src="{{data.avatar_url}}" alt="">
      <p style =" margin-left: 2rem;">{{data.login}} </p> <br> 
     
      
     <hr >
    </ion-item >
    </div>
  </ion-list>
</ion-content>
